<!doctype html>
<html lang="en">
     <head>
	  <!-- Required meta tags -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	  <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
      
      <style>
	.highlighted {
	  background-color: yellow;
	}

	.match {
	color: green;
	}

	.nomatch {};
      </style>
	  <title>DigiCampus Demo</title>
     </head>
     <body>


       <div class="container p-3">

	 <div class="row">
	   <div class="col">
	     <input type="file" id="uploadfile" name="NewCsvUpload">
	   </div>
	  </div>
	 
	 <div class="row">
	   <div class="col">
	     <span id="loaded_collection"></span>
	   </div>
	  </div>


	 <div class="row">
	   <div class="col">
	     Query by document: <select class="custom-select" id="knowndocs"></select>
	   </div>
	 </div>

	 <div class="row form-group">
	   <div class="col">
	     <label for="comment">Query by text:</label>
	     <textarea class="form-control" rows="10" id="textinput"></textarea>
	   </div>
	 </div>
	 
	 

         
	       
	 <div class="row">
	   <div class="col-1">
	     <button type="button" id="sendtxtbutton" class="btn btn-primary">Text query</button>
	   </div>
	 </div>

	 <div class="row">
	   <div class="col">
	     <span id="search_results"></span>
	   </div>
	  </div>
	 

	 <div class="row pt-3" id="result">
	 </div>
       </div>

	  
	  <!-- Optional JavaScript -->
	  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha256-1fEPhSsRKlFKGfK3eO710tEweHh1fwokU5wFGDHO+vg=" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js" integrity="sha256-FPJJt8nA+xL4RU6/gsriA8p8xAeLGatoyTjldvQKGdE=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
      <script>

	var highlightData;
	
	function highlight_on_click(clicked) {
	    $(".resultspan").removeClass("highlighted");
	    clicked_id=clicked.attr('id');
	    to_highlight=highlightData[clicked_id];
	    if (to_highlight) {
	         clicked.addClass("highlighted");
	         //console.log(to_highlight.length);
                 for (id of to_highlight) {
	         $("#"+id).addClass("highlighted");
	         }
	    }
	};
	
	function register_onclick_events() {
	   console.log("Running onclick register");
	   $(".resultspan").click(function () {console.log("Clicked!");highlight_on_click($(this));});
	};
	
	/* This happens when you click the uploadfile */	
	function upload_file() {
	    var file_form_data = new FormData();
	    file_form_data.append('file', $('#uploadfile').prop('files')[0]);
	    $("#loaded_collection").html("Loading. Wait...");
	    $.ajax({
		type: 'POST',
		url:  '/upload_docs',
		data: file_form_data,
		contentType: false,
		cache: false,
		processData: false,
		success: function(data) {
		    console.log('Success!');
		    //The ids are in data["indexed_documents"]
		    //Load the docs into the select on the page
		    $("#knowndocs").empty()
		    var i;
		    for (i=0; i<data["indexed_documents"].length; i++) {
			$("#knowndocs").append(`<option>${data["indexed_documents"][i]}</option>`);
		    }
		    console.log(data["indexed_documents"]);
		    sessionStorage.setItem("doc_collection_id",data["doc_collection_id"]);
		    $("#loaded_collection").html("Loaded collection. <a href='/get_doc_similarity_matrix/"+data["doc_collection_id"]+"'>Doc Similarity Matrix</a>");
		},
	    })
	}

	//This happens when you press the query button

	function do_text_query() {
	    $.ajax({
		type: "POST",    //define the type of ajax call (POST, GET, etc)
		url: "/qrytxt/"+sessionStorage.doc_collection_id,   //The name of the script you are calling
		data: { text: $("#textinput").val()},
	        success: function(data) {
		    console.log(data["result_html"]);	  
		    if (data["result_html"]===""){alert("No matching results.")}
		    $("#result").html(data["result_html"]);
		    sessionStorage.setItem("search_results",data["query_id"]);
		    $("#search_results").html("<a href='/get_search_results/"+data["query_id"]+"'>Search result</a>");
		    register_onclick_events();
		    highlightData=data["highlight_data"];
		},
		error: function(){},
		    statusCode: {
		    400: function(){
			alert("No input text as query.");
		    }
		}
	    });
	};

	function do_docid_query() {
	    $.ajax({
		type: "GET",    //define the type of ajax call (POST, GET, etc)
		url: "/qry_by_id/"+sessionStorage.doc_collection_id+"/"+($("#knowndocs").val()),   //The name of the script you are calling
		data: { docidtext: $("#textinput").val()},
		success: function(data) {
		    console.log(data["result_html"]);
		    if (data["result_html"]===""){alert("No matching results.")}
		    $("#result").html(data["result_html"]);
		    sessionStorage.setItem("search_results",data["query_id"]);
		    $("#search_results").html("<a href='/get_search_results/"+data["query_id"]+"'>Search result</a>");
		   register_onclick_events();
		   highlightData=data["highlight_data"];
								  
		},
	    });
	};

	
	$("#uploadfile").change(upload_file);
	$("#knowndocs").change(do_docid_query);
	$("#sendtxtbutton").click(do_text_query);
	    
	  </script>
     </body>
</html>
